.cardHeader {
  text-align: center;
}

img {
  display: block;
}

.name {
  padding-top: 20px;
  font-size: 1.6rem;
  font-weight: 700;
}

.role {
  /* color: #f3bf99; */
  padding-bottom: 9px;
}

.website {
  font-size: 0.9rem;
  padding-bottom: 15px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding-inline: 35px;
}

button {
  padding: 9px 18px;
  border-radius: 6px;
  border: transparent;
}

.emailBtn,
.linkedInBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.emailBtn {
  background-color: white;
  border: 1px solid #d1d5db;
}

.linkedInBtn {
  background-color: #5093e2;
  color: white;
}
